/**
* Reset
**/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div,
button {
  margin-bottom: 1rem;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

td,
th {
  border: 1px solid #cccccc;
  padding: 1rem;
}

th {
  background-color: #e6e6e6;
}

.container {
  border: 1px solid #f00;
  margin-bottom: 1rem;
}

.responsibleTable {
  text-align: center;
  width: 100%;
}
.responsibleTable__sub-heading {
  background-color: #f9f9f9;
  font-weight: bold;
}
.responsibleTable__column-heading {
  font-weight: bold;
  text-align: right;
}
.responsibleTable__table-data {
  text-align: left;
}

.responsibleTable--active td {
  width: 50%;
}

.responsibleTable--active tr {
  width: 100%;
}

.responsibleTable__single-cell {
  width: 100%;
}

/**
* console
**/

.console {
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
    border-radius: 7px;
    box-shadow: inset 0 0 2px #d2d2d2;
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
    width: 50%;
}

.console__output {
    font-family: monospace;
}

.console__output:not(:last-of-type) {
    margin-bottom: .75rem;
}

