.container {
  margin: 0;
}

td,
th {
  border: 1px solid #cccccc;
  padding: 1rem;
}

th {
  background-color: #e6e6e6;
}

.h3 {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  font-weight: bold;
  margin: 0 0 .5rem;
  padding: 1rem;
  text-align: center;
}

.responsibleTable {
  text-align: center;
  width: 100%;
}
.responsibleTable__sub-heading {
  background-color: #f9f9f9;
  font-weight: bold;
}
.responsibleTable__column-heading {
  font-weight: bold;
  text-align: right;
}
.responsibleTable__table-data {
  text-align: left;
}

.responsibleTable--active td {
  width: 50%;
}

.responsibleTable--active tr {
  width: 100%;
}

.responsibleTable__single-cell {
  width: 100%;
}
